input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  cursor: pointer;
}

input[type="radio"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  cursor: pointer;
}
